

.site-background {
    margin: 0;
    font-size:3vw;
    text-shadow: 0 0 20px;
    background-image: url("edream-comic-site-background-1-ver-2.png");
    flex: content;
    min-height: fit-content;
    min-width: fit-content;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(216, 0, 7);
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer {
    background-color: black;
    text-align: center;
    color: rgb(47, 47, 47);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:rgb(47, 47, 47);
    font-weight: bold;
    padding-bottom: 80px;
}


.wrap {
    display:flex;
    justify-content:center;
    min-width: fit-content;
}

.title {
    text-shadow: 0 0 20px;
    color: rgb(216, 0, 7);
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
}

.text {
    text-shadow: 0 0 20px;
    color: rgb(216, 0, 7);  
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
}


.arrow-left {
    padding-top: 600px;
    padding-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
}

.arrow-right {
    padding-top: 600px;
    padding-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
}

.row {      
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.pic{
    padding: 10px;
    max-width: 75%;
    margin: auto;
}
.pic img{
    width: 100%;
    height: auto;
    align-items: center;
    transition: all 1s;
}
.pic:hover img{
    transform: scale(1.1);
    border-radius: 10px;
}

.link { color: black }

.link2 { color: rgb(216, 0, 7); }

.link3 { color: skyblue; }

.link4 { color: rgb(216, 0, 7); }

.link5 { color: white; }

.link:hover { color: white; }

.link2:hover { color: white; }

.link3:hover { color: white; }
