

.site-background {
    margin: 0;
    font-size:3vw;
    text-shadow: 0 0 20px;
    background-image: url("edream-comic-site-background-1-ver-2.png");
    flex: content;
    min-height: fit-content;
    min-width: fit-content;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.text {
    text-shadow: 0 0 20px;
    color: rgb(216, 0, 7);  
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
}

.link { color: black }

.link2 { color: rgb(216, 0, 7); }

.link3 { color: skyblue; }

.link4 { color: rgb(216, 0, 7); }

.link5 { color: white; }

.link:hover { color: white; }

.link2:hover { color: white; }

.link3:hover { color: white; }
