

.pic{
    max-width: 75%;
    padding-left: 200px;
}


.text {
    text-shadow: 0 0 20px;
    color: rgb(216, 0, 7);  
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;
}

.link { color: black }

.link2 { color: rgb(216, 0, 7); }

.link3 { color: skyblue; }

.link4 { color: rgb(216, 0, 7); }

.link5 { color: white; }

.link:hover { color: white; }

.link2:hover { color: white; }

.link3:hover { color: white; }
