


.body {
    max-width: 1920px;
    min-width: 1080px;
    background-image: linear-gradient(black, rgb(31, 31, 31));
}

.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(216, 0, 7);
    font-size: xx-large;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer {
    background-color: black;
    text-align: center;
    color: rgb(47, 47, 47);
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    padding: 50px;
}

.navbar {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:rgb(47, 47, 47);
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 80px;
}

.wrap {
    display:flex;
    justify-content:center;
    width:100%
}

.title {
    color: rgb(216, 0, 7);
    font-family:'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;

}

.text {
    color: rgb(216, 0, 7);
    font-family:'Courier New', Courier, monospace;
    font-size: x-large;

}



.link { color: black }

.link2 { color: rgb(216, 0, 7); }

.link3 { color: skyblue; }

.link4 { color: rgb(216, 0, 7); }

.link5 { color: white; }

.link:hover { color: white; }

.link2:hover { color: white; }

.link3:hover { color: white; }
